autogen-core==0.4.0dev1
autogen-ext==0.4.0dev1
fastapi
uvicorn
python-dotenv
azure-cosmos
llama-index-readers-web
llama-index-readers-wikipedia
llama-index-tools-wikipedia
llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
llama-index
azure-identity
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-openai
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-grpc
nats-py