autogen-core==0.4.0dev13
autogen-ext==0.4.0dev13
azure-cosmos
azure-identity
beautifulsoup4
fastapi
llama-index
llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
llama-index-readers-web
llama-index-readers-wikipedia
llama-index-tools-wikipedia
nats-py
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-openai
opentelemetry-sdk
pytest
pytest-asyncio
python-dotenv
tenacity
uvicorn
websockets
