:root {
    --theme-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Noto Sans, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --theme-primary-color: hsl(211, 78%, 31%);
    --theme-primary-light-color: hsla(211, 78%, 31%, 0.15);
    --theme-ring-outline-color: var(--theme-primary-color);
    --theme-message-bg-bot: hsla(0, 0%, 78%, 0.25);
    --theme-message-bg-user: hsla(148, 92%, 36%, 0.15);
    --theme-avatar-bg-user: hsl(143, 100%, 31%);
    --theme-avatar-text-color-user: white;
}

body {
    font-family: var(--theme-font-family);
}

.theme-message-bg-bot {
    background-color: var(--theme-message-bg-bot);
}

.theme-message-bg-user {
    background-color: var(--theme-message-bg-user);
}

.theme-avatar-user {
    background-color: var(--theme-avatar-bg-user);
    color: var(--theme-avatar-text-color-user);
}